[project]
name = "backend"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.8"
dependencies = [
    "dotenv>=0.9.9",
    "fastapi>=0.118.2",
    "ortools>=9.12.4544",
    "requests>=2.32.4",
    "uvicorn>=0.33.0",
]
